body{
    background-image: url("/imgs/cube\ pattern2.avif");
    /* animation: 5s linear 0s infinite running rgb; */
}
h1{
    text-align: center;
    color: red;
    font-weight: 500;
    font-style: normal
}
#sideborder{
    border: 5px solid black;
    background-color: white;
    z-index: -10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    height: 2000px;
    top: 0px;
}
p{
    text-align: center;
}
.ptitle{
    color: red;
    font-weight: bolder;
}
.cdiv{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@keyframes rgb {
    0%{background-color: red;}
    12.5%{background-color: orange;}
    32%{background-color: yellow;}
    50%{background-color: greenyellow;}
    66%{background-color: blue;}
    83%{background-color: purple;}
    100%{background-color: rgb(255, 0, 242);}

}
.pbox {
    border: 5px solid;
    background-color: white;
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.pbox {
    border: 5px solid;
    background-color: white;
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}