body{
    margin: 10px;
    background-image: url("/imgs/cube pattern2.png");
}
.invert{
    filter: invert(100%);
}
h1{
    text-align: center;
    color: red;
    font-weight: 500;
    font-style: normal
}
#sideborder{
    border: 5px solid;
    z-index: -10;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    width: 700px;
    height: 1200px;
    top: 0px;
}
#corridor{
    z-index: -11;
    position:absolute;  
    object-fit: cover; 
    width: 700px;
    height: 1200px;
    top: 4px;
}
p{
    text-align: center;
}
.ptitle{
    color: red;
    font-weight: bolder;
}
.cdiv{
    /* max-width: fit-content; */
    margin-left: auto;
    margin-right: auto;
}
.cdiv2{
    left: 50%;
    transform: translate(-50%, 0);
}
.cdiv3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@keyframes rgb {
    0%{color: red;}
    12.5%{color: orange;}
    32%{color: yellow;}
    50%{color: greenyellow;}
    66%{color: blue;}
    83%{color: purple;}
    100%{color: rgb(255, 0, 242);}

}
@keyframes seizure {
    0%{filter: invert(0%); background-image: url("/imgs/cube pattern2.png");}
    50%{filter: invert(100%); background-image: url("/imgs/cube pattern2 - inverted.png");}
    100%{filter: invert(0%); background-image: url("/imgs/cube pattern2.png");}

}

.pbox {
    border: 5px solid;
    background-color: white;
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}