#header{
    text-align: center;
    color: red;
}
p{
    text-align: center;
}
.ptitle{
    color: blue;
    font-weight: 200%;
}
#links{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}