#america{
  background-image: url(/imgs/merica.jpg);
  background-size:cover;
}
#heaven{
  background-image: url(/imgs/Multiverse-1.webp);
  background-size: cover;
}
#identity{
  background-image: url(/imgs/school_picture3.jpg);
  background-size:cover;
  background-position: 900px;
}
.ptext{
  color: white;
}